*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

.introduction{
    width: 100%;
    height: 100vh;
    background-image: url(images/h_img.jpg);
    background-position: center;
    position: relative;
    overflow: hidden;
}

.logo{
   margin: 10px auto 0px auto;
   display: block;
   width: 100px;
   height: bottom;
   position: relative;
   top: 50%;
   margin-left: auto;
   margin-right: auto;

       
}
  


.content{
    color: #fbfcfd;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: bottom;
    position: relative;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
        
}

.about{
    text-align: center;
    background-color: whitesmoke;
}

.services{
    background-image: url(images/s_image.jpg);
    color: #fbfcfd;
    text-align: center;
    width: 100%;
    height: 40vh;

}

.whatwedo {
    text-align: center;
    padding-top: 40px;
    font-family: "Gabriela", serif;
    
  }
  
  .services-cards {
    display: flex;
    justify-content: space-around;
  }
  .what-we-do .headings {
    padding-bottom: 38px;
  }
  #portfolio {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    margin-left: 18%;
    margin-right: 16%;
  }
  #portfolio .col-md-3 {
    flex-grow: 1;
    width: 20%;
    margin: 1px;
  }
  .col-md-3 img {
    max-width: 100%;
    max-height: 100%;
  }
  .portfolio h2 {
    text-align: center;
    padding-top: 40px;
    font-family: "Gabriela", serif;
  }
  .contact {
    background-image: url("../images/Backgrounds/c_image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }
  .title {
    padding: 6px;
  }
  .contact h2 {
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: "Gabriela", serif;
  }
  input[type="text"],
  input[type="email"],
  #comment {
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: "Copse", serif;
  }
  
  .form-control::-webkit-input-placeholder {
    color: white;
  }
  #MERGE1 {
    width: 30%;
    margin-left: 18%;
    margin-right: 30px;
  }
  #MERGE0 {
    width: 30%;
  }
  #comment {
    margin-left: 20%;
    width: 60%;
  }
  button {
    margin-left: 20%;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  footer {
    text-align: center;
    padding-top: 30px;
    font-family: "Delius Swash Caps", cursive;
  }
  footer p {
    margin-top: 10px;
  }
  #product,
  #development,
  #design {
    display: none;
    font-family: "Copse", serif;
    font-size: 16px;
  }
  #product .title,
  #development .title,
  #design .title {
    font-size: 20px;
    font-weight: 600;
  }
  #outlook,
  #outlook2,
  #outlook3,
  #outlook4,
  #outlook5,
  #outlook6,
  #outlook7,
  #outlook8 {
    display: none;
    color: black;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.456);
    position: absolute;
    top: 20px;
    left: 35px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-top: 50%;
    font-family: "Delius Swash Caps", cursive;
  }
  @media only screen and (max-width: 755px) {
    #outlook,
    #outlook2,
    #outlook3,
    #outlook4,
    #outlook5,
    #outlook6,
    #outlook7,
    #outlook8 {
      width: 100%;
      height: 100%;
      top: 20px;
      left: 16px;
      padding-top: 20%;
    }
    .col-md-3 img {
      width: 100%px;
      margin: 20px;
    }
    #portfolio {
      margin-left: 8%;
      margin-right: 16%;
    }
    button {
      margin-left: 2%;
      padding-bottom: 30px;
      margin-bottom: 20px;
    }
  }
  @media only screen and (max-width: 425px) {
    #outlook,
    #outlook2,
    #outlook3,
    #outlook4,
    #outlook5,
    #outlook6,
    #outlook7,
    #outlook8 {
      width: 100%;
      height: 100%;
      top: 20px;
      left: 16px;
      padding-top: 20%;
      font-size: 20px;
    }
    .col-md-3 img {
      width: 100%px;
      margin: 20px;
    }
    #portfolio {
      margin-left: 8%;
      margin-right: 16%;
    }
    button {
      padding-bottom: 30px;
      margin-bottom: 20px;
    }
    #MERGE0 {
      width: 84%;
      margin-left: 4%;
      padding-bottom: 10px;
    }
    #MERGE1 {
      width: 100%;
      margin-left: 4%;
      margin-bottom: 20px;
    }
    #comment {
      margin-left: 4%;
      width: 84%;
    }
  }
  @media only screen and (min-width: 825px) {
    #outlook,
    #outlook2,
    #outlook3,
    #outlook4,
    #outlook5,
    #outlook6,
    #outlook7,
    #outlook8 {
      width: 100%;
      height: 100%;
      top: 20px;
      left: 20px;
      padding-top: 30%;
    }
    .col-md-3 img {
      width: 400px;
      margin: 20px;
    }
    #portfolio {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  @media only screen and (min-width: 625px) {
    #outlook,
    #outlook2,
    #outlook3,
    #outlook4,
    #outlook5,
    #outlook6,
    #outlook7,
    #outlook8 {
      width: 100%;
      height: 100%;
      top: 20px;
      left: 20px;
      padding-top: 20%;
      font-size: 26px;
    }
    .col-md-3 img {
      width: 400px;
      margin: 20px;
    }
    #portfolio {
      margin-left: 6%;
      margin-right: 10%;
    }
  }
  .what-we-do {
    font-family: "Quattrocento", serif;
    text-align: center;
    padding-top: 40px;
    font-family: "Gabriela", serif;
  }
  
  .services-cards {
    display: flex;
    justify-content: space-around;
  }
  .what-we-do .headings {
    padding-bottom: 38px;
  }
  #portfolio {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    margin-left: 18%;
    margin-right: 16%;
  }
  #portfolio .col-md-3 {
    flex-grow: 1;
    width: 20%;
    margin: 1px;
  }
  .col-md-3 img {
    max-width: 100%;
    max-height: 100%;
  }
  .portfolio h2 {
    text-align: center;
    padding-top: 40px;
    font-family: "Gabriela", serif;
  }
  .contact {
    background-image: url("../images/Backgrounds/c_image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(20, 20, 20);
  }
  .title {
    padding: 6px;
  }
  .contact h2 {
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: "Gabriela", serif;
    color: black;
  }
  input[type="text"],
  input[type="email"],
  #comment {
    background: transparent;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: "Copse", serif;
  }
  
  .form-control::-webkit-input-placeholder {
    color: white;
  }
  #MERGE1 {
    width: 30%;
    margin-left: 18%;
    margin-right: 30px;
  }
  #MERGE0 {
    width: 30%;
  }
  #comment {
    margin-left: 20%;
    width: 60%;
  }
  button {
    margin-left: 20%;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  footer {
    text-align: center;
    padding-top: 30px;
    font-family: "Delius Swash Caps", cursive;
  }
  footer p {
    margin-top: 10px;
  }
  #product,
  #development,
  #design {
    display: none;
    font-family: "Copse", serif;
    font-size: 16px;
  }
  #product .title,
  #development .title,
  #design .title {
    font-size: 20px;
    font-weight: 600;
  }
  #outlook,
  #outlook2,
  #outlook3,
  #outlook4,
  #outlook5,
  #outlook6,
  #outlook7,
  #outlook8 {
    display: none;
    color: black;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.456);
    position: absolute;
    top: 20px;
    left: 35px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-top: 50%;
    font-family: "Delius Swash Caps", cursive;
  }
  @media only screen and (max-width: 755px) {
    #outlook,
    #outlook2,
    #outlook3,
    #outlook4,
    #outlook5,
    #outlook6,
    #outlook7,
    #outlook8 {
      width: 100%;
      height: 100%;
      top: 20px;
      left: 16px;
      padding-top: 20%;
    }
    .col-md-3 img {
      width: 100%px;
      margin: 20px;
    }
    #portfolio {
      margin-left: 8%;
      margin-right: 16%;
    }
    button {
      margin-left: 2%;
      padding-bottom: 30px;
      margin-bottom: 20px;
    }
  }
  @media only screen and (max-width: 425px) {
    #outlook,
    #outlook2,
    #outlook3,
    #outlook4,
    #outlook5,
    #outlook6,
    #outlook7,
    #outlook8 {
      width: 100%;
      height: 100%;
      top: 20px;
      left: 16px;
      padding-top: 20%;
      font-size: 20px;
    }
    .col-md-3 img {
      width: 100%px;
      margin: 20px;
    }
    #portfolio {
      margin-left: 8%;
      margin-right: 16%;
    }
    button {
      padding-bottom: 30px;
      margin-bottom: 20px;
    }
    #MERGE0 {
      width: 84%;
      margin-left: 4%;
      padding-bottom: 10px;
    }
    #MERGE1 {
      width: 100%;
      margin-left: 4%;
      margin-bottom: 20px;
    }
    #comment {
      margin-left: 4%;
      width: 84%;
    }
  }
  @media only screen and (min-width: 825px) {
    #outlook,
    #outlook2,
    #outlook3,
    #outlook4,
    #outlook5,
    #outlook6,
    #outlook7,
    #outlook8 {
      width: 100%;
      height: 100%;
      top: 20px;
      left: 20px;
      padding-top: 30%;
    }
    .col-md-3 img {
      width: 400px;
      margin: 20px;
    }
    #portfolio {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  @media only screen and (min-width: 625px) {
    #outlook,
    #outlook2,
    #outlook3,
    #outlook4,
    #outlook5,
    #outlook6,
    #outlook7,
    #outlook8 {
      width: 100%;
      height: 100%;
      top: 20px;
      left: 20px;
      padding-top: 20%;
      font-size: 26px;
    }
    .col-md-3 img {
      width: 400px;
      margin: 20px;
    }
    #portfolio {
      margin-left: 6%;
      margin-right: 10%;
    }
  }
  